<div class="row create-post-page">
  <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
    <h4>Create Post</h4>
<form action="/create-post" method="post">
  <input type="text" name="title" id="title" placeholder="Title" required>
  <input type="text" name="content" id="content" placeholder="Write Post Here" required>
  <input id="create-post-btn" type="submit" value="Create">
</form>
    
  </div>
</div>