<div class="row landing-page">
  <div class="col s10 offset-s1 m8 offset-m2 l5 offset-l1">
    <h1>Welcome to the Star Wars Tumblr from a galaxy far far away...</h1>

    <a class="sign-in-link" href="/sign-in" />Sign In</a>
    <a class="sign-up-link" href="/sign-up" />Sign Up</a>
  </div>
</div>