<div class="row sign-up-page">
  <div class="col s10 offset-s1 m6 offset-m1 l5 offset-l1">
  
    <h1>Fill out the form, you must. Hmmmm.</h1>
    

    <form class="sign-up-form" action="/sign-up" method="post">
      <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
      <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
      <input type="text" name="username" id="username" placeholder="Username" required>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="email" name="email" id="email" placeholder="Email" required>
      <input type="hidden" value="https://source.superherostuff.com/wp-content/uploads/2016/12/2s5s6mN.jpg" name="image_url" id="image_url">
      <input type="date" name="birthday" id="birthday" placeholder="Birthday" required>
      <input id="sing-up-btn" type="submit" value="Sign-Up">
      <p><a class="go-to-sign-in-link" href="/sign-in" />Go to Sign-In Page</a></p>
    </form>
    
  </div>
</div>