@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  letter-spacing: 1px;
}

/*------------------------- Navbar -------------------------*/

.row {
  margin: 0;
}

.nav-wrapper {
  background-color: #3e442b !important;
}

.nav-wrapper a {
  color: #ddd;
}

.sidenav li > a {
  color: #ddd;
}

/* .card-holder {
  height: 300px;
} */

.card {
  background: #fff;
}

.card-holder img {
  max-height: 300px !important;
  object-fit: cover;
}

.settings-page {
  color: #000;
}

.settings-page input,
.settings-page label {
  color: #000;
}

input[type="submit"] {
  color: white;
}

.create-account {
  background: #fffe;
  padding: 50px;
}

.delete-account {
  background: #fffe;
  padding: 50px;
}

.username-link {
  color: #fff !important;
  font-style: italic;
}

.username-link:hover {
  text-decoration: underline !important;
}

.card {
  background: #3e442b;
  color: #fff;
}

.flash {
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.flash.info {
  background-color: #00bc4e;
}

.flash.warning {
  background-color: #ef5350;
}

.flash a,
.flash a:link,
.flash a:active,
.flash a:visited {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: black;
  animation: beckon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.flash a:hover {
  color: white;
}

.flash.hide {
  display: none;
}
